* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: black;
   font-family: 'Changa One', cursive;
}

#fullScreenButton {
   position: absolute;
   display: none;
   font-size: 20px;
   padding: 10px;
   top: 10px;
   left: 50%;
   transform: translate(-50%);
}

@media screen and (max-width: 1280px), screen and (max-height: 780px) {
   #fullScreenButton {
      display: flex;
   }
}

ul {
   position: absolute;
   right: 0;
   background: yellow;
   list-style: none;
   margin: 10px 10px 10px 10px;
   padding: 0px;
   float: left;
}

ul li {
   font-weight: bold;
}
ul li span {
   font-weight: normal;
}
ul li #preview {
   width: 50px;
   height: 50px;
   border: 1px solid black;
}
