* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: black;
   font-family: 'Changa One', cursive;
}

#fullScreenButton {
   position: absolute;
   display: none;
   font-size: 20px;
   padding: 10px;
   top: 10px;
   left: 50%;
   transform: translate(-50%);
}

@media screen and (max-width: 1280px), screen and (max-height: 780px) {
   #fullScreenButton {
      display: flex;
   }
}
